body {
  background: #18181b;
  color: #FFF;
  font-size: 16px;
  font-family: Roboto;
  text-transform: lowercase;
  margin: 0;padding: 0;

}

.container {padding: 0; top:30%; position:absolute;left:20%; }
#secondrow {display: none}
.row {padding: 3px;}
.row2 {padding: 3px;}
.col {
  background: #ffbe76; 
  padding: 45px 15px; 
  font-size: 21px;
  font-weight: bold; 
  color: rgba(0,0,0,0.7); 

  height:120px; 
  
  margin-left: 6px; 
  border-radius: 3px;
}

.col:hover {
  text-decoration: none;
  color: #18181b;
  opacity: .5;
  transition: .5s;
  transform: scale(.99);
}

.coldc {
  background: #ffbe76 url(img/code.png) no-repeat left;
  background-size: 200px 200px;
  max-width: 30%;
  padding: 50px 15px; 
  font-weight: bold; 
  color: rgba(0,0,0,0.7); 
  height:120px; 
   
  margin-left: 6px; 
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-radius: 3px;
  
}

.coldc:hover {
  text-decoration: none;
  color: #18181b;
  opacity: .5;
  transition: .5s;
  transform: scale(.99);
}

.colx {
  background: #ffbe76; 
  padding: 50px 15px; 
  font-weight: bold; 
  color: rgba(0,0,0,0.7); 
  height:120px; 
  margin-left: 6px; 
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  border-radius: 3px;
}
.colx:hover {
  text-decoration: none;
  color: #18181b;
  opacity: .5;
  transition: .5s;
  transform: scale(.99);
}
.colxc {
  background: #ffbe76 url(img/chrome.png) no-repeat right; 
  background-size: 210px 210px;
  padding: 50px 15px; 
  font-weight: bold; 
  color: rgba(0,0,0,0.7); 
  height:120px; 
  margin-left: 6px; 
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  border-radius: 3px;
}

.colxc:hover {
  text-decoration: none;
  color: #18181b;
  opacity: .5;
  transition: .5s;
  transform: scale(.99);
}

.colxf {
  background: #ffbe76 url(img/firefox.png) no-repeat right; 
  background-size: 210px 210px;
  padding: 50px 15px; 
  font-weight: bold; 
  color: rgba(0,0,0,0.7); 
  height:120px; 
  margin-left: 6px; 
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  border-radius: 3px;
}

.colxf:hover {
  text-decoration: none;
  color: #18181b;
  opacity: .5;
  transition: .5s;
  transform: scale(.99);
}


.colxe {
  background: #ffbe76 url(img/edge.png) no-repeat right; 
  background-size: 220px 220px;
  padding: 50px 15px;  
  font-weight: bold; 
  color: rgba(0,0,0,0.7); 
  height:120px; 
  margin-left: 6px; 
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  border-radius: 3px;
}

.colxe:hover {
  text-decoration: none;
  color: #18181b;
  opacity: .5;
  transition: .5s;
  transform: scale(.99);
}

.colimages {
  background: #ffbe76; 
  padding: 0px 5px; 
  font-weight: bold; 
  color: rgba(0,0,0,0.7); 
  min-width: 10%;
  height:10px; 
  
  margin-left: 6px; 
  border-radius: 3px;
}

.colimages:hover {
  text-decoration: none;
  color: #18181b;
  opacity: .5;
  transition: .5s;
  transform: scale(.99);
}