html {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'GothamLight';
  src: url('GothamLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamMedium';
  src: url('GothamMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamBook';
  src: url('GothamBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamBold';
  src: url('Gotham-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
font-family: 'GothamMedium' !important;
font-size: 14px;
padding: 0; margin: 0;
overflow: auto;
background-color: var(--purple) !important;
}

:root {
--brown:  #54332E;
--light-brown: #685454;
--black: #0D080A;
--dark-green: #2C4449;
--grey: #9F9E9D;
--white: #D8D6D4;
--orange-brown: #9F5B3C;
--greenish: #968C63;
--purple: #190c1a;
}

.main-container {
height:100%;
width: 90%;
margin:auto;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}





.main-container {
  height:100%;
  width: 90%;
  margin:auto;
  }
  
  @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  }
  .main-header {
  background: url("https://www.transparenttextures.com/patterns/60-lines.png"), linear-gradient(-45deg, var(--light-brown), var(--brown), var(--dark-green), var(--greenish));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 700px; 
  display: flex;
  flex-direction: column;
  padding:2rem;
  }
  .main-header-topnav {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  color:var(--grey);
  }
  .main-header-logo {
  font-size: 24px;
  font-family: 'GothamBold';
  }
  .main-header-navigation {
  margin-left: auto;
  }
  .main-header-nav {
  
  }
  .main-header-navigation a{
  text-decoration: none;
  padding-left: 1.75rem; padding-right: 1.75rem;
  color: var(--grey);
  font-family: 'GothamLight';
  letter-spacing: 2px;
  font-weight:600;
  font-size: 16px;
  transition: .3s;
  }
  .main-header-navigation-active {
  color:#FFF;
  }
  
  .main-header-navigation a:hover{
  color: #FFF;
  }
  
  .main-header-headercontent {
  display:flex;
  flex-direction: row;
  height:100%;
  margin-top:20px
  }
  .main-header-headercontentleft {
  width:50%;
  }
  .main-header-headercontenth1 {
  font-family: 'GothamBold';
  color:#e9ad68;
  font-size:72px;
  width:100%;
  }
  .main-header-headercontentleftcontent {
  color:var(--grey);
  font-size:18px;
  width:85%;
  }
  
  .main-header-headercontentleftbottom {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top:50px;
  background: rgba(255,255,255,0.07);
  height:60px;
  font-size:15px;
  border: 3px solid rgba(255,255,255,0.1);
  border-radius: 34px 6px;
  font-family:'GothamBold';
  width:80%;
  transition:.3s;
  }
  .main-header-headercontentleftbottom-div {
  color:var(--grey);
  width:100%;
  height:30%;
  display:flex;
  align-items:center;
  justify-content: center;
  border-right: 2px solid var(--grey);
  transition:.3s;
  cursor:pointer;
  }
  .bottom-div-noborder {border:none;}
  .bottom-div-last {
  border:none;
  background:#e9ad68;
  height:100%;
  color:var(--brown);
  border-radius: 34px 6px;
  }
  .main-header-headercontentleftbottom-div:hover {
  color:#FFF;
  }
  
  .main-header-headercontentright {
  margin-left:auto;
  
  }
  .main-header-headercontentrightcontent {
   background: url('https://media.discordapp.net/attachments/673755194026360833/932766238122319943/565l8u3clbc81.png?width=249&height=443') no-repeat center;
   background-size:cover;
   height:750px;width:500px;
   border-radius: 34px 6px;
   display:flex;
   justify-content: bottom;
  }
  .main-header-headercontentleftbottom:hover {
  transform:scale(1.01);
  }
  
  .main-header-headercontentrightcontent-credits {
   color:#FFF;
   margin-top: auto;
   padding:6px;
   margin-bottom:6px;
   margin-left:6px;
   border-radius: 14px;
   background:rgba(255,255,255,0.06);
   text-decoration:none;
  }
  
  .content-art {
   display:flex;
   flex-direction:column;
   margin-top:200px;
   color:#FFF;
  }
  .art-h1 {
   font-family: 'GothamBold';
   font-size:72px;
   color:#e9ad68;
   padding-bottom:50px;
  }
  
  .gallery{
  display: flex;
  }
  
  .column{
  display: block;
  margin-right: .3vw;
  width: 100%;
  }
  
  .item{
  overflow: hidden;
  position: relative;
  margin-bottom: .3vw;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  }
  .img{
  display: block;
  position: relative;
  transition: .3s;
  width: 100%;
  height: 100%;
  }
  .imginfo{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  height:100%;
  opacity: 0;
  bottom: -.78vw;
  left: 0;
  padding: 6px;
  color: #D8D6D4;
  position: absolute;
  font-size: .65vw;
  border-radius:14px;
  transition: .3s;
  background-color: rgba(0,0,0,0.3);
  }
  
  .imglink:hover + .imgtitle + .imgdesc, .imginfo:hover{
  opacity: 1;
  bottom:0;
  backdrop-filter: blur(3px);
  }
  .imgtitle {
  font-size:21px;
  }
  .imgdesc{
  font-size: 14px;
  color: #e9ad68;
  display: block;
  }
  .imginfo-cont {
  border: 3px solid rgba(255,255,255,0.07);
  border-radius:34px 6px;
  padding:15px;
  }
  
  
  .card {
  background:transparent !important;
  color:#FFF !important;
  margin:auto;
  width:50%;
  
  }
  .card-forgotetc {
  font-weight:bold;
  color:#FFF;
  text-decoration:none;
  }
  .card-forgotetc a {
  text-decoration: none;
  font-weight:bold;
  }
  .btn-link {
  text-decoration: none !important;
  font-weight:bold !important;
  }